<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>BIHOTZA TAUPAKA, IRRIBARREA AHOAN</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js" defer></script>
</head>

<body>

<!-- MENÚ SUPERIOR -->
<nav class="menu">
    <div class="logo">BIHOTZA TAUPAKA, IRRIBARREA AHOAN</div>
    <div class="links">
<!--         <a onclick="mostrar('form1')">Aho Higienea</a>
        <a onclick="mostrar('form2')">Bihotz Osasuna eta Menpekotasuna</a>
        <a onclick="mostrar('formAnalitica')">Analisi-balioak</a>
        <a onclick="mostrar('resultados')">Emaitzak eta Gomendioak</a> -->
    </div>
</nav>
<div class="imagen" ><img src="../static/img/logo.JPG" alt="logo" width="400px" /></div>


<header class="hero">
    <h3>BIHOTZA TAUPAKA, IRRIBARREA AHOAN</h3>
    <button id="logoutBtn" onclick="logout()" style="display:none;">
  Logout
</button>
   
</header>

<main class="container">
    <section id="login" class="visible">
    <h2>Sarbidea</h2>
    <input id="user" placeholder="Kodea / Erabiltzailea">
    <input id="pass" type="password" placeholder="PIN / Pasahitza">
    <button type="button" onclick="login()">Sartu</button>
    </section>
    <section id="menuPaciente" class="card oculto animate">
    <h2>Pazientea</h2>

    <button onclick="mostrar('form1')">
        Galdeketak bete
    </button>

    <button onclick="mostrarAnaliticasPaciente()">
        Nire analitikak ikusi
    </button>

    <button onclick="mostrarResultadosPaciente()">
        Emaitzak ikusi
    </button>
    </section>

    <section id="analiticasPaciente" class="card oculto animate">
    <h2>Nire analitikak</h2>

    <div class="analitica-box">
        <p>
        <strong>IL-6 balioa:</strong>
        <span id="il6Paciente">-</span>
        </p>

        <p>
        <strong>Plaka dentala:</strong>
        <span id="placaPaciente">-</span>
        </p>

        <p>
        <strong>Neurketa data:</strong>
        <span id="fechaPaciente">-</span>
        </p>
    </div>

    <p class="info">
        Datu hauek ikertzaileak sartu ditu.  
        Zalantzarik izanez gero, jarri harremanetan klinikarekin.
    </p>

    <button onclick="mostrar('menuPaciente')" >
        Atzera
    </button>
    </section>
    <section id="resultadosPaciente" class="card oculto animate">
    <h2>Emaitzak</h2>

    <p>
        <strong>Score:</strong>
        <span class="score-ejemplo" id="scorePaciente">-</span>
    </p>

    <p>
        <strong>Arrisku maila:</strong>
        <span id="nivelPaciente">-</span><br><br>
        <span class="indicacion" id="factoresGenerales">-</span>
    </p>

    <h2>Kontuan hartu beharreko faktoreak</h2>
    <ul id="factoresPaciente"></ul>

    <button onclick="mostrar('menuPaciente')">
        Atzera
    </button>
    </section>

    <!-- FORM 1 -->
    <section id="form1" class="card oculto animate">
        <h2>1. Galdetegia: AHO HIGIENEA</h2>
        <form class="form-grid" action="">

            <div class="select-md-container">
                <label class="select-md-label">1. Zein maiztasunekin garbitzen dituzu hortzak?</label>
                <select class="select-md" id="cepillado" name="cepillado" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="bitan">Egunean 2tan edo gehiagotan</option>
                    <option value="behin">Egunean behin</option>
                    <option value="gutxi">Gutxiago</option>
                </select><br>
                <label class="select-md-label">2. Zenbat denbora pasatzen duzu hortzak garbitzen?</label>
                <select class="select-md" id="tiempo" name="tiempo" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ondo">2 minutu edo gehiago</option>
                    <option value="gutxi">Gutxiago</option>
                </select><br>
                <label class="select-md-label">3. Hortzak garbitzeko zein eskuila mota erabiltzen duzu?</label>
                <select class="select-md" id="eskuila" name="eskuila" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="elektrikoa">Eskuila elektrikoa</option>
                    <option value="eskukoa">Eskuzko eskuila</option>
                </select><br>
                <label class="select-md-label">4. Hortz-tarteak garbitzeko metodo osagarriren bat (hortz-haria, eskuila interproximalak, silikonazko txotx edo “pick”-ak, irrigadorea, superfloss© moduko haria…) erabiltzen duzu?</label>
                <select class="select-md" id="osagarria" name="osagarria" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="bai">Bai</option>
                    <option value="ez">Ez</option>
                </select><br>
                <label class="select-md-label">5. Hortz klinikara zein maiztasunekin joaten zara?</label>
                <select class="select-md" id="klinika" name="klinika" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="seihilero">6 hilero edo maizago</option>
                    <option value="urteanbat">Urtean behin</option>
                    <option value="tartean">Urtean behin baino gutxiago baina 5 urtero baino maizago</option>
                    <option value="bosturte">Azken 5 urtetan ez naiz hortz klinika batetan egon</option>
                </select><br>
            </div>


            <button type="button" class="btn" onclick="mostrar('form2')">Gorde</button>
        </form>
    </section>

    <!-- FORM 2 -->
    <section id="form2" class="card oculto animate">
        <h2>2. Galdetegia: BIHOTZ OSASUNAREN eta MENPEKOTASUN-MAILAREN INGURUKO GALDEKETA</h2>
        <form class="form-grid">
            <div class="select-md-container">
                <label class="select-md-label">1. Kardiopatia kongenitorik baduzu?</label>
                <select class="select-md" id="kardiopatia" name="kardiopatia" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez</option>
                    <option value="bai">Bai</option>
                </select><br>
                <label class="select-md-label">2. Zianosia eragiten dutenen artean sailkatzen da (“shunt” delakoak, konduktu eta bentrikulu bakarrekoak)?</label>
                <select class="select-md" id="zianosia" name="zianosia" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez</option>
                    <option value="bai">Bai</option>
                </select><br>
                <label class="select-md-label">3. Bihotzeko ebakuntzarik egin dizue inoiz edo egiteko zain zaude? Zenbat ebakuntza guztira?</label>
                <select class="select-md" id="ebakuntza" name="ebakuntza" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez</option>
                    <option value="bat">1</option>
                    <option value="bi">2-3</option>
                    <option value="hiru">3 baino gehiago</option>
                </select><br>
                <label class="select-md-label">4. Bihotz protesia edo bestelako protesirik daramazu?</label>
                <select class="select-md" id="protesia" name="protesia" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez</option>
                    <option value="bai">Bai</option>
                </select><br>
                <label class="select-md-label">5. Endokarditis bakterianoa” delako gaixotasuna izan duzu inoiz?</label>
                <select class="select-md" id="endokarditis" name="endokarditis" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez</option>
                    <option value="bai">Bai</option>
                </select><br>
                <label class="select-md-label">6. Diabetes Mellitus gaixotasuna duzu? Zein motatakoa?</label>
                <select class="select-md" id="diabetes" name="diabetes" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez</option>
                    <option value="bat">I motakoa</option>
                    <option value="bi">II motakoa</option>
                </select><br>
                <label class="select-md-label">7. Erretzailea zara?</label>
                <select class="select-md" id="erretzailea" name="erretzailea" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez</option>
                    <option value="bai">Bai</option>
                </select><br>
                <label class="select-md-label">8. Foru Aldundiak onartutako menpekotasunik baduzu, zein mailatakoa?</label>
                <select class="select-md" id="menpekotasuna" name="menpekotasuna" required>
                    <option value="" disabled selected>Aukeratu...</option>
                    <option value="ez">Ez dut menpekotasunik</option>
                    <option value="bat">I</option>
                    <option value="bi">II</option>
                    <option value="hiru">III</option>
                </select><br>
            </div>

            <button type="button" class="btn" onclick="guardarFormulariosPaciente()">Gorde</button>
        </form>
    </section>

    <!-- ANALÍTICA -->
    <section id="investigador" class="card oculto animate">
        <h2>Ikertzailea</h2>

        <button onclick="mostrar('registrar')">
            Paziente berria sortu
        </button>

        <button onclick="mostrar('listaPacientes')">
            Pazienteak ikusi
        </button>

        <button onclick="mostrarDatosClinicos()">
            Datu klinikoak sartu
        </button>
    </section>

    <section id="listaPacientes" class="card oculto animate">
  <h3>Pazienteak</h3>

  <button onclick="cargarPacientes()">Kargatu pazienteak</button>

  <table border="1">
    <thead>
      <tr>
        <th>Kodea</th>
        <th>Sortze-data</th>
        <th>IL-6</th>
        <th>Plaka dentala</th>
        <th>Oharrak</th>
        <th>Azken neurketa</th>
        <th>Galdeketak eginda</th>
        <th>Erantzunen datak</th>
      </tr>
    </thead>
    <tbody id="tablaPacientes"></tbody>
  </table>

  <button onclick="mostrar('investigador')">Atzera</button>
</section>


    <section id="registrar" class="card oculto animate">
        <h3>Paziente berria</h3>

        <button onclick="registrarPaciente()">
            Sortu pazientea
        </button>

        <pre id="resultadoPaciente"></pre>
        <button onclick="atraslimpiar()">Atzera</button>

    </section>
     
    <section id="formAnalitica" class="card oculto animate">
        <h2>Analisi-balioak</h2>
        <form class="form-grid">
            <label>Pazientea</label>
            <select id="patientSelect">
                <option value="">-- Hautatu pazientea --</option>
            </select>

            <label>PLAKA INDIZEA</label>
            <input type="number" step="0.1" min="0" required id="indice_placa" name="indice_placa">

            <label>INFLAMAZIOAREN PRESENTZIA: IL-6 maila (pg/mL)</label>
            <input type="number" min="0" max="100" required id="il6" name="il6">

            <label>Oharrak</label>
            <textarea id="observaciones"></textarea>

            <button type="button" onclick="guardarDatosClinicos()">Gorde datuak</button>
            <button onclick="mostrar('investigador')">Atzera</button>

        </form>
    </section>
        

    <!-- RESULTADOS -->
    <section id="resultados" class="card oculto animate">
        <h2>Emaitzak eta Gomendioak</h2>

        <div class="resultados-grid">

            <div class="resultado-item">
                <h3>Score Totala</h3>
                <p class="score-ejemplo">Adibidez: <strong>18 puntu</strong></p>
            </div>

            <div class="resultado-item">
                <h3>Gomendio Orokorrak</h3>
                <p class="indicacion">Adibidez: Berrikuspen klinikoa gomendatzen da. Jarraipena 2 astean behin.</p>
            </div>

            <div class="resultado-item">
                <h3>Gomendio Pertsonalizatua</h3>
                <p class="indicacion">
                    Adibidez: IL-6 mailak jarraipen gehigarria iradokitzen du.

                </p>
            </div>

        </div>
    </section>

</main>

<footer class="footer">
<img src="../static/img/footer.JPG" alt="footer"  />
</footer>

</body>
</html>
